<div class="page-header">
  <h3>Application #<%= @application.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Gig</dt>
      <dd>
        <% if @application.gig.present? %>
          <a href="/gigs/<%= @application.gig_id %>">
            <%= @application.gig.client_id %>
          </a>
        <% end %>
      </dd>

      <dt>Photographer</dt>
      <dd>
        <% if @application.photographer.present? %>
          <a href="/photographers/<%= @application.photographer_id %>">
            <%= @application.photographer.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/applications" class="btn btn-primary">
        Back
      </a>
      <a href="/applications/<%= @application.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_application/<%= @application.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
