<div class="page-header">
  <h3>Photographer #<%= @photographer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @photographer.email %></dd>

      <dt>Password</dt>
      <dd><%= @photographer.password %></dd>

      <dt>Name</dt>
      <dd><%= @photographer.name %></dd>

      <dt>Portfolio</dt>
      <dd><%= @photographer.portfolio %></dd>

      <dt>Location</dt>
      <dd>
        <% if @photographer.location.present? %>
          <a href="/locations/<%= @photographer.location_id %>">
            <%= @photographer.location.city %>
          </a>
        <% end %>
      </dd>

      <dt>Expertise level</dt>
      <dd><%= @photographer.expertise_level %></dd>

      <dt>Charge rate</dt>
      <dd><%= @photographer.charge_rate %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/photographers" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Photographer has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @photographer.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.photographer_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
