<!-- Validation failure messages -->
<% if @gig.errors.any? %>
  <% @gig.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Gig #<%= @gig.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_gig/<%= @gig.id %>" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for client_id -->
      <div class="form-group">
        <label for="client_id" class="control-label">
          Client
        </label>

        <%= select_tag(:client_id, options_from_collection_for_select(Client.all, :id, :created_at, @gig.client_id), :class => "form-control") %>
      </div>

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <input type="text" id="location_id" name="location_id" placeholder="Location" class="form-control" value="<%= @gig.location_id %>">
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @gig.title %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @gig.description %>">
      </div>

      <!-- Label and input for budget -->
      <div class="form-group">
        <label for="budget" class="control-label">
          Budget
        </label>

        <input type="text" id="budget" name="budget" placeholder="Budget" class="form-control" value="<%= @gig.budget %>">
      </div>

      <!-- Label and input for time_commitment -->
      <div class="form-group">
        <label for="time_commitment" class="control-label">
          Time commitment
        </label>

        <input type="text" id="time_commitment" name="time_commitment" placeholder="Time commitment" class="form-control" value="<%= @gig.time_commitment %>">
      </div>

      <!-- Label and input for genre_id -->
      <div class="form-group">
        <label for="genre_id" class="control-label">
          Genre
        </label>

        <%= select_tag(:genre_id, options_from_collection_for_select(Genre.all, :id, :name, @gig.genre_id), :class => "form-control") %>
      </div>

      <!-- Label and input for sample_images -->
      <div class="form-group">
        <label for="sample_images" class="control-label">
          Sample images
        </label>

        <%= cl_image_tag(@gig.sample_images.to_s, :width => 90, :height => 90, :crop => :thumb) %>
        <input type="file" id="sample_images" name="sample_images" class="form-control">
      </div>

      <button class="btn btn-warning">
        Update Gig
      </button>
      or
      <a href="/gigs/<%= @gig.id %>">Cancel</a>
    </form>
  </div>
</div>
