<div class="page-header">
  <h3>Gig #<%= @gig.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Client</dt>
      <dd>
        <% if @gig.client.present? %>
          <a href="/clients/<%= @gig.client_id %>">
            <%= @gig.client.email %>
          </a>
        <% end %>
      </dd>

      <dt>Location</dt>
      <dd>
        <% if @gig.location.present? %>
          <a href="/locations/<%= @gig.location_id %>">
            <%= @gig.location.city %>
          </a>
        <% end %>
      </dd>

      <dt>Name</dt>
      <dd><%= @gig.name %></dd>

      <dt>Description</dt>
      <dd><%= @gig.description %></dd>

      <dt>Budget</dt>
      <dd><%= @gig.budget %></dd>

      <dt>Time commitment</dt>
      <dd><%= @gig.time_commitment %></dd>

      <dt>Genre</dt>
      <dd>
        <% if @gig.project_type.present? %>
          <a href="/genres/<%= @gig.genre_id %>">
            <%= @gig.project_type.name %>
          </a>
        <% end %>
      </dd>

      <dt>Sample images</dt>
      <dd><img src="<%= @gig.sample_images %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/gigs" class="btn btn-primary">
        Back
      </a>
      <a href="/gigs/<%= @gig.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_gig/<%= @gig.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
