<!-- Validation failure messages -->
<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_review/<%= @review.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for photographer_id -->
      <div class="form-group">
        <label for="photographer_id" class="control-label">
          Photographer
        </label>

        <%= select_tag(:photographer_id, options_from_collection_for_select(Photographer.all, :id, :email, @review.photographer_id), :class => "form-control") %>
      </div>

      <!-- Label and input for client_id -->
      <div class="form-group">
        <label for="client_id" class="control-label">
          Client
        </label>

        <%= select_tag(:client_id, options_from_collection_for_select(Client.all, :id, :created_at, @review.client_id), :class => "form-control") %>
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @review.rating %>">
      </div>

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <input type="text" id="comment" name="comment" placeholder="Comment" class="form-control" value="<%= @review.comment %>">
      </div>

      <!-- Label and input for gig_id -->
      <div class="form-group">
        <label for="gig_id" class="control-label">
          Gig
        </label>

        <input type="text" id="gig_id" name="gig_id" placeholder="Gig" class="form-control" value="<%= @review.gig_id %>">
      </div>

      <!-- Label and input for reviewer -->
      <div class="form-group">
        <label for="reviewer" class="control-label">
          Reviewer
        </label>

        <input type="text" id="reviewer" name="reviewer" placeholder="Reviewer" class="form-control" value="<%= @review.reviewer %>">
      </div>

      <button class="btn btn-warning">
        Update Review
      </button>
      or
      <a href="/reviews/<%= @review.id %>">Cancel</a>
    </form>
  </div>
</div>
