<div class="page-header">
  <h1>
    Reviews
    <a href="/reviews/new" class="btn btn-lg btn-success">New Review</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "reviews_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :comment_cont, "Comment contains" %>
    <%= f.text_field :comment_cont, :class => "form-control", :placeholder => "Comment contains" %>
  </div>

<div class="form-group">
  <%= f.label :rating, "Rating" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :rating_gteq, :class => "form-control", :placeholder => "Rating greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :rating_lteq, :class => "form-control", :placeholder => "Rating less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :photographer_email_cont, "Photographer email contains" %>
      <%= f.text_field :photographer_email_cont, :class => "form-control", :placeholder => "Photographer email contains" %>
    </div>

<div class="form-group">
      <%= f.label :client_email_cont, "Client email contains" %>
      <%= f.text_field :client_email_cont, :class => "form-control", :placeholder => "Client email contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/reviews" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#reviews_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Photographer</th>
        <th>Client</th>
        <th>Rating</th>
        <th>Comment</th>
        <th>Actions</th>
      </tr>

      <% @reviews.each do |review| %>
      <tr>
        <td>
          <% if review.photographer.present? %>
            <a href="/photographers/<%= review.photographer.id %>">
              <%= review.photographer.email %>
            </a>
          <% end %>
        </td>
        <td>
          <% if review.client.present? %>
            <a href="/clients/<%= review.client.id %>">
              <%= review.client.email %>
            </a>
          <% end %>
        </td>
        <td><%= review.rating %></td>
        <td><%= review.comment %></td>
        <td>
          <a href="/reviews/<%= review.id %>" class="btn btn-primary">Show</a>
          <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @reviews, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
