<div class="page-header">
  <h1>
    Reviews
    <a href="/reviews/new" class="btn btn-lg btn-success">New Review</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Photographer</th>
        <th>Client</th>
        <th>Rating</th>
        <th>Comment</th>
        <th>Actions</th>
      </tr>

      <% @reviews.each do |review| %>
      <tr>
        <td>
          <% if review.photographer.present? %>
            <a href="/photographers/<%= review.photographer.id %>">
              <%= review.photographer.email %>
            </a>
          <% end %>
        </td>
        <td>
          <% if review.client.present? %>
            <a href="/clients/<%= review.client.id %>">
              <%= review.client.email %>
            </a>
          <% end %>
        </td>
        <td><%= review.rating %></td>
        <td><%= review.comment %></td>
        <td>
          <a href="/reviews/<%= review.id %>" class="btn btn-primary">Show</a>
          <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @reviews, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
