<div class="page-header">
  <h3>Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Photographer</dt>
      <dd>
        <% if @review.photographer.present? %>
          <a href="/photographers/<%= @review.photographer_id %>">
            <%= @review.photographer.email %>
          </a>
        <% end %>
      </dd>

      <dt>Client</dt>
      <dd>
        <% if @review.client.present? %>
          <a href="/clients/<%= @review.client_id %>">
            <%= @review.client.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Rating</dt>
      <dd><%= @review.rating %></dd>

      <dt>Comment</dt>
      <dd><%= @review.comment %></dd>

      <dt>Gig</dt>
      <dd><%= @review.gig_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reviews" class="btn btn-primary">
        Back
      </a>
      <a href="/reviews/<%= @review.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_review/<%= @review.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
