<div class="page-header">
  <h3>Location #<%= @location.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>City</dt>
      <dd><%= @location.city %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/locations" class="btn btn-primary">
        Back
      </a>
      <a href="/locations/<%= @location.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_location/<%= @location.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Location has many gigs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Gigs
      </li>

      <% @location.gigs.each do |gig| %>
        <li class="list-group-item">
          <a href="/gigs/<%= gig.id %>">
            <%= gig.client_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/gigs/<%= gig.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/gigs/<%= gig.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_gig/<%= gig.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Location has many clients -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Clients
      </li>

      <% @location.clients.each do |client| %>
        <li class="list-group-item">
          <a href="/clients/<%= client.id %>">
            <%= client.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/clients/<%= client.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/clients/<%= client.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_client/<%= client.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Location has many photographers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photographers
      </li>

      <% @location.photographers.each do |photographer| %>
        <li class="list-group-item">
          <a href="/photographers/<%= photographer.id %>">
            <%= photographer.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/photographers/<%= photographer.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/photographers/<%= photographer.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photographer/<%= photographer.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
